.main {
  padding: 20px;
}

.mat-display-1 {
  margin: 0px;
  padding: 0px;
}

.mat-radio-button {
  margin-left: 5px;
}

table {
  padding-left: 50px;
}

td,
tr {
  padding: 10px;
}

#inputs {
  width: 80px;
  height: 55px;
  padding-bottom: 5px;
}

.mat-form-field-flex>.mat-form-field-infix {
  padding: 0.4em 2px !important;
}

.mat-form-field-label-wrapper {
  top: -1.5em;
}

.mat-form-field-appearance-standard {
  margin-left: 10px;
}

.spacer {
  margin-left: 20px;
}

.content {
  margin: 20px;
}

button{
  margin: 0px 10px;
}
